
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* {
    width: 100%;

    font-family:'Courier New', Courier, monospace; 
    line-height: 1.5;
    font-size: 20px;
    color: #333;
}

body {
    margin: 0 auto;
    max-width: 940px;
}

h1 { text-align: center; 
    font-size: 40px;  background-color: #eee; 
    line-height: 2;
    font-family: Helvetica, sans-serif;
    letter-spacing: 0.01rem;
    font-weight: 300;
}

textarea, pre { padding: 10px; }
